:root {
    --primary-color: #ffffff;
    --secondary-color: #1b98e0;
    --accent1-color: #434343;
    --accent2-color: #659157;
    --heading-font: "Sarala", sans-serif;
    --text-font: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font)
}

h1 {
    font-size: 2.8rem;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

p {
    font-family: var(--text-font);
    color: var(--accent1-color);
}

a {
    font-family: var(--text-font);
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: .5rem solid var(--accent2-color);
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

header img {
    max-width: 125px;
    height: auto;
    margin: auto;
}

.sitelinks {
    border-left: .5rem solid var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sitelinks a {
    color: var(--accent2-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

/* FOOTER */

footer {
    border: .5rem solid var(--secondary-color);
    padding: .5rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

footer p {
    text-align: center;
}

.sociallinks {
    display: flex;
    justify-content: space-around;
}

.sociallinks a {
    flex: 1;
    text-decoration: none;
}

.sociallinks img {
    max-width: 48px;
    height: auto;
    margin: auto;
}

/* HOME & ABOUT - HERO IMAGE */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero section {
    position: absolute;
    top: 260px;
    left: 60px;
    max-width: 40%;
    border: .5rem solid var(--accent2-color);
    border-radius: 1rem;
    padding: 1rem;
    background-color: color(from var(--primary-color) srgb r g b / .7);
}

.hero h1 {
    position: absolute;
    top: 16px;
    left: 48px;
    border-radius: 1rem;
    padding: 0 1rem;
    color: var(--primary-color);
    background-color: color(from var(--accent2-color) srgb r g b / .7);
}

.hero article {
    position: absolute;
    top: 300px;
    right: 36px;
    border-radius: 1rem;
    background-color: color(from var(--primary-color) srgb r g b / .7);
}

.hero article img {
    max-width: 300px;
    float: right;
}

.hero article p {
    margin: 1rem;
}

.double {
    display: flex;
}

/* HOME - FORM */

.double form {
    flex: 7;
}

.letter fieldset {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font);
    color: var(--accent1-color);
}

.letter h1 {
    color: var(--accent1-color);
    margin-bottom: 0;
    text-align: center;
}

.letter label {
    margin: 1rem;
    text-align: center;
}

.letter button {
    margin: 1rem;
    width: 240px;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

/* HOME - LINK TO TRIPS */

.triplink {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: color(from var(--secondary-color) srgb r g b / .05);
}

.triplink img {
    padding: 0;
    max-width: 300px;
    height: auto;
    flex: 1;
}

.triplink a {
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 6rem;
    flex: 3;
}

/* HOME - OFFERINGS */

.offerings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: color(from var(--secondary-color) srgb r g b / .05);
    align-items: center;
}

.offerings p {
    grid-column: span 3;
    padding: 3rem;
}

.offerings img {
    grid-column: span 2;
    max-width: 400px;
    height: auto;
}

/* ABOUT US - HISTORY */

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 5fr;
}

.history h2 {
    grid-column: 1/4;
}

.history img {
    max-width: 300px;
    height: auto;
    margin: auto;
}

.history p {
    margin: 1rem;
}

/* ABOUT US - ADVENTURE */

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 5fr;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure figure {
    margin: 0;
    padding: 0;
}

.adventure figure img {
    max-width: 200px;
    height: auto;
}

.adventure figcaption {
    font-family: var(--text-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* TRIPS - DETAILED DESCRIPTIONS */

.tripbig {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: color(from var(--secondary-color) srgb r g b / .05);
}

.tripbig div {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tripbig h1,
.tripbig p {
    margin: 0;
    padding: 1rem;
}

.tripbig h1 {
    color: var(--accent2-color);
}

.tripbig img {
    max-width: 400px;
    height: auto;
}

/* TRIPS - TABLE AND CONTACT LINK */

.tripdetail {
    display: flex;
}

.tripdetail table {
    flex: auto;
    margin: 1rem;
    border-collapse: collapse;
    border: 2px solid var(--accent2-color);
    font-family: "Sarala";
    color: var(--accent1-color);
}

.tripdetail caption {
    caption-side: bottom;
    text-align: left;
}

.tripdetail thead {
    background-color: color(from var(--secondary-color) srgb r g b / .3);
}

.tripdetail tbody>tr:nth-of-type(even) {
    background-color: color(from var(--secondary-color) srgb r g b / .1);
}

.tripdetail th,
.tripdetail td {
    text-align: center;
    border: 1px solid var(--accent1-color);
    padding: 0 1rem;
}

.tripdetail div {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.tripdetail h1 {
    text-align: center;
    color: var(--accent2-color);
}

.tripdetail a {
    margin: 1rem;
    border: .5rem solid color(from var(--secondary-color) srgb r g b / .3);
    border-radius: 1rem;
    background-color: color(from var(--secondary-color) srgb r g b / .1);
    padding: 1rem;
    color: var(--accent1-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

/* CONTACT US - MAP */

.map {
    background-color: color(from var(--secondary-color) srgb r g b / .05);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.map iframe {
    border: 0;
    width: 512px;
    height: 341px;
    grid-row: 1/5;
}

.map h1 {
    color: var(--accent2-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

.map p {
    margin: 0;
    padding: 0;
    color: var(--accent2-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

/* CONTACT US - TEAM */

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
}

.team h2 {
    grid-column: 1/4;
}

.team figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team img {
    max-width: 128px;
    height: auto;
}

.team figcaption {
    font-family: var(--text-font);
    color: var(--accent1-color);
}

/* CONTACT US - FORM */

.contact fieldset {
    max-width: 480px;
    margin: 1em auto;
    border-radius: 1rem;
    display: grid;
    font-family: var(--text-font);
    color: var(--accent1-color);
    background-color: color(from var(--secondary-color) srgb r g b / .05);
}

.column1 {
    text-align: right;
    padding-right: 7rem;
    grid-template-columns: 1fr 3fr;
}

.column2 {
    padding-left: 7rem;
    grid-template-columns: 1fr 5fr;
}

.contact p {
    margin-bottom: 0;
    text-align: center;
}

label[for="message"] {
    margin-top: 1rem;
    text-align: center;
}

.column3 {
    margin: 1rem auto;
}

.contact button {
    width: 240px;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
}